{% extends "layout/default.html" %}

{% block content %}

{{ include('pages/home/intro_video.html') }}

{{ include('pages/home/quem_somos.html')}}

{{ include ('pages/home/agenda_evento.html')}}

{% endblock %}

{% block script %}
<script>
  if ($(window).width() >= 900) {
      var $wrapper = document.querySelector('#video');

      HTMLNovo =
          '<video class="video-player" preload="auto" webkit-playsinline="" autoplay loop muted >';
      HTMLNovo += '<source src="/assets/videos/bento.mp4" type="video/mp4" />';
      HTMLNovo +=
          '<source src="/assets/videos/bento.ogv" type="video/ogg; codecs=\'theora, vorbis\' "/>';
      HTMLNovo += '<source src="/assets/videos/bento.ogg" type="video/ogg; codecs=\'theora, vorbis\' "/>';
      HTMLNovo +=
          '<source src="/assets/videos/bento.webm" type="video/webm; codecs=\'theora, vorbis\' " />';
      HTMLNovo += '</video>';

      $wrapper.insertAdjacentHTML('afterbegin', HTMLNovo);
  }
</script>
{% endblock %}