<!--ABOUT-->
<section>
    <div id="lgx-travelinfo" class="lgx-travelinfo">
        <div class="lgx-inners">
            <div class="lgx-leftright-area">
                <div class="lgx-left-area lgx-leftright-info">
                    <div class="lgx-leftright-info-inner">
                        <h3 class="title">Quem somos?</h3>
                        <p class="info">Comunidade de DEVs para DEVs</p>
                        <p>
                            Nascemos como uma comunidade colaborativa desenvolvida por DEVs de diferentes backgrounds e
                            experiências para compartilhar conhecimento e conteúdos, fazer networking e ajudar no 
                            desenvolvimento pessoal e local dos membros, participantes e parceiros.
                        </p>
                        <a class="lgx-btn" href="#">Saiba mais...</a>
                    </div>
                </div>
                <div class="lgx-right-area lgx-venu-img">

                </div>
            </div>
        </div>
        <!-- //.INNER -->
    </div>
</section>
<!--ABOUT END-->