<!--ABOUT-->
<section>
    <div id="lgx-about" class="lgx-about">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="lgx-about-content-area">
                            <div class="lgx-heading">
                                <h2 class="heading">O que é o Meetanços?</h2>
                                <h3 class="subheading">O nome é ruim, mas a intenção é boa?</h3>
                            </div>
                            <div class="lgx-about-content">
                                <p class="text">
                                    Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                                    tortor quam, feugiat vitae, tristique senectus et netus et malesuada fames ac turpis
                                    egestas ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                                    semper. Aenean ultricies mi vitae est. Mauris Eonec eu ribero sit amet quam egestas
                                    semper. Aenean are ultricies mi senectus et netus et malesuada fames ac turpis
                                    egestas. Vestibulum tortor quam, feugiat vitae vitae fames ac turpis egestas.
                                </p>
                                <div class="about-date-area">
                                    <h4 class="date"><span>29</span></h4>
                                    <p><span>November 2021</span> King Street, Dhaka, Bangladesh</p>
                                </div>

                                <div class="section-btn-area">
                                    <a class="lgx-btn" href="about.html"><span>More About</span></a>
                                    <a class="lgx-btn lgx-btn-red lgx-scroll" href="#lgx-registration"><span>Buy Ticket
                                            Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="lgx-about-img-sp">
                            <img src="http://placehold.it/556x712" alt="about">
                        </div>
                    </div>
                </div>
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>
<!--ABOUT END-->